@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage;
@using TurneringLibrary.Data;
@using TurneringLibrary.Models;
@inject ITournamentData tournamentData
@inject NavigationManager navigat
@inject ProtectedSessionStorage sessionStorage
@inject AuthenticationStateProvider authProvider
@inject IUserData userData



<EditForm Model="@Tournament" OnValidSubmit="SaveData">

  <div class="settings">
    <div class="setting-name">
      <label>Tunerings Namn</label>
      <InputText class="input-name" @bind-Value="Tournament.TournamentName" @oninput="((text) => UpdateTourName(text))" />
    </div>
    <div class="teams">
      @foreach (var t in Tournament.Teams)
      {
        <div class="team">
          <InputText class="input-name" @bind-Value="t.TeamName" @oninput="((text) => UpdateTeamName(text, t))" />
          <span class="icon-x" @onclick="(() => RemoveTeam(t))">&Chi;</span>
          <ValidationMessage For="@(() => t.TeamName)" />
        </div>
      }
    </div>
    <div class="options">
      <button class="options-btn" type="button" @onclick="AddTeam">Lägga Till Lag</button>
      <button class="options-btn" type="submit">Starta Tuneringen</button>
    </div>
  </div>

</EditForm>




