@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage;
@using TurneringLibrary.Data;
@using TurneringLibrary.Models;
@inject ITournamentData tournamentData
@inject NavigationManager navigat
@inject ProtectedSessionStorage sessionStorage
@inject AuthenticationStateProvider authProvider
@inject IUserData userData



<EditForm Model="@Tournament" OnValidSubmit="SaveData">
  <DataAnnotationsValidator />
  <ValidationSummary />
  <div class="tabs">
    <div>
      <label>Tunerings Namn</label>
      <InputText @bind-Value="Tournament.TournamentName" @oninput="((text) => UpdateTourName(text))"/>
    </div>
    @foreach (var t in Tournament.Teams)
    {
    <div>
      <InputText @bind-Value="t.TeamName" @oninput="((text) => UpdateTeamName(text, t))" />
      <button type="button" @onclick="(() => RemoveTeam(t))"></button>
    </div>

    }
    <button type="button" @onclick="AddTeam">Lägga Till Lag</button>
    <button type="submit">Starta Tuneringen</button>
  </div>
</EditForm>




