@using TurneringLibrary.Data;
@using TurneringLibrary.Models;
@inject ITournamentData tournamentData



<div class="tabs">
  @foreach (var t in Teams)
  {
    <div>
      <input type="text" value="@t.TeamName" @oninput="((text) => UpdateTeamName(text, t))" />
      <button @onclick="(() => RemoveTeam(t))"></button>
    </div>
    
  }
  <button @onclick="AddTeam">Lägga Till Lag</button>
  <button @onclick="SaveData">Starta Tuneringen</button>
</div>




