

<div class="theme">
  <div class="bracket-icon">
    <div>
      <div class="box-icon small-match"></div>
      <div class="box-icon small-match"></div>
    </div>
    <div class="box-icon big-match"></div>
    <div class="winner-icon"></div>
  </div>
</div>
