@using TurneringLibrary.Models;
@using TurneringUI.Component
@inherits LayoutComponentBase

<PageTitle>TurneringUI</PageTitle>

<div class="tour-page">
  <main class="add-tour-layout">
    <div class="left-sidebar">
      <div class="account">
        <LoginDisplay />
      </div>
      <div class="add-teams-layout">
        <AddTournamentComponent TournamentMatches="NewFormat" />
      </div>
    </div>
    <div>
      <CascadingValue Value="TournamentFormat">
        @Body
      </CascadingValue>

    </div>
  </main>
</div>


@code {
  private List<MatchUpModel> TournamentFormat;

  private void NewFormat(List<MatchUpModel> tournament)
  {
    TournamentFormat = tournament;
  }

}