@inherits LayoutComponentBase

<PageTitle>TurneringUI</PageTitle>

<div>
  <div class="main-page">
    <div class="account-log">
      <LoginDisplay />
      <a href="/">Skapa ny</a>
    </div>

    @Body
  </div>
</div>
