@using TurneringLibrary.Models;
@layout AddTournamentLayout
@page "/Basic"



<h3>BasicTournament</h3>

<div class="try-grid">

  @if (Tournament is not null)
  {
    @for (int i = 0; i < Tournament.MatchUps?.Count; i++)
    {
      @if (Tournament.MatchUps[i].FreeWin == false)
      {
        <div class="@Style(i) game">
          <div class="top-slot">
            <div class="name">@Tournament.MatchUps[i].TeamOne.TeamName</div>
          </div>
          <div class="bottom-slot">
            <div class="name">@Tournament.MatchUps[i].TeamTwo.TeamName</div>
          </div>
        </div>
      }

    }
  }

</div>

@code {
  [CascadingParameter]
  public TournamentModel? Tournament { get; set; }

  private string Style(int position)
  {
    return $"position{position}-Rounds{Tournament?.HowManyRounds}";
  }

}
