@using TurneringLibrary.Models;
@layout AddTournamentLayout
@page "/Basic"



<h3>BasicTournament</h3>

<div class="try-grid">

  @if (MatchUps is not null)
  {
    @for (int i = 0; i < MatchUps?.Count; i++)
    {
      @if (MatchUps[i].FreeWin == false)
      {
        <div class="@Style(i) game">
          <div class="top-slot">
            <div class="name">@MatchUps[i].TeamOne.TeamName</div>
          </div>
          <div class="bottom-slot">
            <div class="name">@MatchUps[i].TeamTwo.TeamName</div>
          </div>
        </div>
      }

    }
  }

</div>

@code {
  [CascadingParameter]
  public List<MatchUpModel>? MatchUps { get; set; }

  private string Style(int position)
  {
    return $"position{position}-Rounds{MatchUps.Count}";
  }

}
