@page "/"
@inject NavigationManager nav

<h1>Skapa en turnering</h1>

<div class="front-page">
  <div class="group-img">
    <div @onclick="Normal" class="img-link"></div>
    <div @onclick="BasketBoll" class="img-link"></div>
    <div @onclick="Fotboll" class="img-link"></div>
  </div>
</div>



@code {


  private void Normal()
  {
    nav.NavigateTo("/Basic");
  }
  private void BasketBoll()
  {

  }

  private void Fotboll()
  {
    
  }
}